body {
    font-size: 20px;
}
.container{
    max-width: 960px;
    margin: 0px auto;
}
#header,
#footer{
    color: bisque;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

#header {
    background-color: tomato;

}

#content {
    min-height: 600px;
    background-color: bisque;
    padding: 15px;
}

#footer {
    background-color: black;
}